{% extends "layout.html" %}
{% block title %}{% if note %}Update{% else %}Create{% endif %}{% endblock %}

{% block content %}
  <form action="" method="post">
    <textarea name="content" rows="30">{% if note %}{{ note.content }}{% endif %}</textarea>
    <br />
    <input type="submit" value="{% if note %}Update{% else %}Create{% endif %}">
    {% if note %}&nbsp;<a href="/">Cancel</a>{% endif %}
  </form>
  <hr />
  <a href="/history"><h4>History</h4></a>
  {% include "list.html" %}
{% endblock %}
